[Unit]
Description=VisorWare Script Startup

[Service]
User=pi
ExecStart=/home/pi/VisorWare/launcher.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
